.link-container{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #222222e0;
    color: #fff;
    align-content: space-between;
    justify-content: space-between;
    .link-component{
        // background-color: #22222296;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .link{
            color: #fff;
            text-decoration: none;
        }
    }
    .symbol{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        .logo-img{
            width: 16px;
            height: 16px;
        }
    }
}